{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class ="col-md-6">
            <img src="{{movies.img.url}}"width="300"height="300">
        </div>
        <div class ="col-md-6">
            <h2>{{movies.name}}</h2>
            <h4>{{movies.desc}}</h4>
            <h5>{{movies.year}}</h5>
            <a class="btn btn-warning" href="{% url 'movieapp:update' movies.id  %}">Update</a><br>
            <a class="btn btn-danger" href="{% url 'movieapp:delete' movies.id  %}">Delete</a><br>
        </div>
    </div>
</div>
{% endblock %}